<!-- Nom: Loic Leonetti -->
<!-- Date: 2024-02-24   -->


<div class="row entete">
	<img class="col-3 img-fluid" style="width: 150px" src="images/logo.png" alt="logo">
	<section class='col-9'>

		<h1>Chatropie</h1>

	</section>

</div>
<div class="bandeau">
	<a href="{{path('contact')}}"> <button class="btn btn-secondary">Contact</button></a>
	<button class="btn btn-secondary">Créer un compte</button>
	<button class="btn btn-secondary">Connexion</button>
	<a href="{{path('panier')}}"> <button class="btn btn-secondary">Panier 0 item</button></a>
</div>
