<div class="row entete">
	<img class="col-3" src="" alt="LOGO TODO">
	<section class='col-9'>

		<h1>Boutique Tp1</h1>

	</section>

</div>
<div class="bandeau">
	<button class="btn btn-secondary">Contact</button>
	<button class="btn btn-secondary">Créer un compte</button>
	<button class="btn btn-secondary">Connexion</button>
	<button class="btn btn-secondary">Panier 0 items</button>
</div>
