<!-- Nom: Loic Leonetti -->
<!-- Date: 2024-02-24   -->


	<div class="row entete"> <img class="col-3 img-fluid" style="width: 150px" src="images/logo.png" alt="logo">
	<section class='col-9'>

		<h1>Chatropie</h1>

	</section>

</div>

