{% extends('baseAdmin.html.twig') %}

{% block body %}

	<!-- Nom: Loic Leonetti -->
	<!-- Date: 2024-05-22   -->
		<div>
	{{ include('commun/ZoneFlash.html.twig') }}
	</div>
		<div class='container row my-3'> 
        <div class="col-7">

            <h2>Modifier l'image des details du produit {{produit.id}}</h2>

            {{ form(form)}} 
   
		</div>
	{% endblock %}
