{% extends('baseAdmin.html.twig') %}

{% block body %}

	<!-- Nom: Loic Leonetti -->
	<!-- Date: 2024-04-17   -->
		<div>
	{{ include('commun/ZoneFlash.html.twig') }}
	</div>
		<div class='container row my-3'> <div class="col-7">
			<h2>Modifier une catégorie</h2>
			<form method='POST'>

                {% for c in categories %}
                    <input type='text' name='{{c.id}}' value='{{c.description}}'/><br>
                {% endfor %}
				<input type='submit' value='mettre à jour' class="btn btn-lg btn-primary"/>
			</form>
		</div>
		<div class="col-4">
			<a href="{{path('adminMenu')}}">
				<button class="btn btn-warning">Retour au menu</button>
			</a>
		</div>


	</div>
{% endblock %}
