


{% extends('base.html.twig') %}


{% block body %}

{% block javascripts %}
	<script src="{{asset('js/modaleProduit.js')}}"></script>
{% endblock %}

<h1>Chatropie</h1>
<p>Aucun chat a été bléssé durant la programmation de ce site web</p>

{% endblock %}
